@{
    ViewBag.Title = "Home Page";
}
@*<script src="~/Scripts/jquery-3.1.1.js"></script>*@

@*AIzaSyDOkccOGtXnDcCfl26Z7B64y8qHRubmhwQ*@

<style>
    
</style>

@* The input is the search bar, the button activates the search
   The official container holds the officials when the search is entered
   The election container is the same except for elections *@

<input id="pac-input" class="controls" type="text" placeholder="Enter Your Address Here">
<button id="search">See Results</button>
<div id="official-container"></div>
<div id="election-container"></div>

@* You'll need these scripts on the bottom to run the search bar*@
<script src="~/Scripts/search.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOkccOGtXnDcCfl26Z7B64y8qHRubmhwQ&libraries=places&callback=initAutocomplete"
        async defer></script>