@{
    ViewBag.Title = "Home Page";
}
@*<script src="~/Scripts/jquery-3.1.1.js"></script>*@

<div class="weathar">
    <div id="name0"></div>
    <div id="name1"></div>
    <button id="logButton">Click for log</button>
</div>

<script>
    $(document).ready(function () {
        $("#logButton").click(function () {
            //$.get("http://api.openweathermap.org/data/2.5/weather?q=London&appid=cebabc19405e8150a81239252ca19438", function (response) {
            //    console.log(response);
            //    $("#name").text(response.name);
            //    $("#temp").text(response.main.temp);
            //    $("#humidity").text(response.main.humidity);
            //});

            //The word after the v2 is the method, then after the api key, there's the address
            $.get("https://www.googleapis.com/civicinfo/v2/representatives?key=AIzaSyBRTWesCWcZoIiBVFxanm3BPBkUmOdSbW8&address=8290%20Timber%20Trail%20Chagrin%20Falls%20OH", function (response) {
                console.log(response);
                $("#name0").text(response.offices[0].name + ": " + response.officials[0].name);
                $("#name1").text(response.offices[1].name + ": " + response.officials[1].name);
                //$("#date").text(response.elections[2].electionDay);
            });
        });
    });
</script>